.App {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  border-top: 1px solid black;
  color: #ccc;
  text-align: right;
}

.base-wrapper {
  display: flex;
  width: 100vw;
  min-height: 88vh;
  justify-content: center;
  border: 1px solid blue;
}

.route-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  /* text-align: center; */
  align-items: center;
  max-height: 80vh;
  width: 100vw;
  /* min-width: 500px;
  max-width: 65vw; */
  overflow-y: auto;
  border: 1px solid green;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
